{"sever":"open",
"version":"3",
"link":"https://play.google.com/store/apps/details?id=com.bluetvpro.hz",
"message":"off",
"admob":"off",
"admobaner":"off",
"adstime":"4",
"startio":"open",
"iotime":"5",
"unity":"open",
"utime":"5",
"banner":"start",
"allbanner":"open",
"interid":"ca-app-pub-3940256099942544/1033173712",
"bannerid":"ca-app-pub-3940256099942544/6300978111",
"rewardid":"ca-app-pub-6080627583136625/4920477622",
"rewardtime":"4",
"reward":"off",
"madmob":"off",
"madtime":"9",
"admob2":"off",
"admobaner2":"off",
"adstime2":"4",
"startio2":"open",
"iotime2":"4",
"unity2":"open",
"utime2":"5",
"unityid":"4371391",
"unityid2":"4464691",
"uads":"Interstitial_Android",
"banner2":"start",
"allbanner2":"open",
"pw1":"222222",
"pw2":"၂၂၂၂၂၂",
"login":"close",
"downads":"open",
"vip":"close"}
